<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        .test{
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0px;
            left: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #5CB85C;
        }
        h1{
            color: #fff;
            font-size: 10vw;
        }
    </style>
  </head>
  <body>
      <div class="test">
        <h1>Approved!</h1>
      </div>
  </body>
    <script 
        type='text/javascript'> 
        setTimeout(function(){  window.close() }, 5000)
    </script>
</html>