<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        .layout_cannot_reject{
            width: 90vw;
            height: 100vh;
            padding: 0px 5vw;
            position: fixed;
            top: 0px;
            left: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #0F4C81;
            flex-direction: column;
        }
        .normalText {
          font-size: 5vw;
          padding: 0px 10px;
          color: white;
        }
        .greenText {
          font-size: 5vw;
          padding: 0px 10px;
          color: #51D722;
        }
        .orangeText {
          font-size: 5vw;
          padding: 0px 10px;
          color: #F97111;
        }
        #countdown {
          font-size: 5vw;
          color: #fff;
        }
    </style>
  </head>
  <body>
      <div class="layout_cannot_reject">
        <div class="icon">
          <img src="/images/alert.png" alt="images alert">
        </div>
        <div><label class="normalText">This request has been</label><label class="greenText">APPROVED</label>  </div>
        <div><label class="normalText">by</label> <label class="orangeText">another Manager</label></div>
        <div id="countdown">7</div>
      </div>
  </body>
    <script 
        type='text/javascript'> 
        setTimeout(function(){  window.close() }, 7000)

        var seconds = document.getElementById("countdown").textContent;
        var countdown = setInterval(function() {
            seconds--;
        document.getElementById("countdown").textContent = seconds;
        if (seconds <= 0) clearInterval(countdown);
        }, 1000);
    </script>
</html>