<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        .test{
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0px;
            left: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #5CB85C;
            flex-direction: column;
        }
        h1{
            color: #fff;
            font-size: 10vw;
        }
        #countdown {
          font-size: 5vw;
          color: #fff;
        }
    </style>
  </head>
  <body>
      <div class="test">
        <h1>Rejected!</h1>
        <h2 id="countdown">5</h2>
      </div>
  </body>
    <script 
        type='text/javascript'> 
        setTimeout(function(){  window.close() }, 5000)

        var seconds = document.getElementById("countdown").textContent;
        var countdown = setInterval(function() {
            seconds--;
        document.getElementById("countdown").textContent = seconds;
        if (seconds <= 0) clearInterval(countdown);
        }, 1000);
    </script>
</html>